{% extends 'MainBundle::layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('assets/js/home.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/slick.js/slick/slick.js') }}"></script>
    <script src="{{ asset('assets/bower_components/jquery.scrollTo/jquery.scrollTo.js') }}"></script>
    <script src="{{ asset('assets/bower_components/hammerjs/hammer.js') }}"></script>
    <script src="{{ asset('assets/bower_components/foundation/js/foundation/foundation.joyride.js') }}"></script>

{% endblock %}
{% block content %}
    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        <h3>I'm an adventurer</h3>
    </div>
{% endblock %}
